/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* BODY */

.container{
    position: relative;
    height: 100vh;
}

.slider{
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.items.container{
    height: 100%;

}

.item{
    height: 50vh;
    width: 100%;
    display: none; 
    }

.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.prev, .next{
    position: absolute;
    left: 50%;
    background-color: rgba(255, 254, 254, 0.5);
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    line-height: 22px;
    border-radius: 50%;
}

.prev{
    top: 10px;
}

.next{
    bottom: 10px;
}

.prev:hover,
.next:hover{
    background-color:  rgba(240, 240, 240, 1);
}

.active{
    display: block;
}

.hidden {
    display: none;
}